html, body{
    height: 100vh;
    width: 100vw;
}

.calendar__screen{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.rbc-calendar{
    height: 100%;
}

/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 500px;
    max-width: 450px;
    outline: none;
    padding: 10px;
}

/**DATE**/
.react-datetime-picker input:focus {
    outline : none;
}

.react-datetime-picker__wrapper  {
    border : 0px solid gray !important;
    display : flex;
}

/* FABS */
.fab{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    bottom:2.5rem;
    font-size:1.5rem;
    width:4rem;
    height: 4rem;
    padding : 1.5rem;
    position: fixed;
    right: 2.5rem;
    z-index:10;
}

.fab-trash{
    border-radius:10px;
    bottom:2.5rem;
    position: fixed;
    left: 2.5rem;
    z-index:10;
}

.container__loader{
    height:100vh;
    display :flex;
    justify-content:  center;
    align-items: center;
}
